<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         failOnSkipped="true" failOnIncomplete="true" failOnRisky="true" failOnEmptyTestSuite="true"
         failOnWarning="true"
>
  <testsuites>
    <testsuite name="lib">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
</phpunit>
